[2021-12-09 02:10] pedrohbraga opened #9 "Implement an automated and collaborative system for the manuscript"
Hi. Manubot should be a potential system for this.

_This issue is a dummy issue, made just for testing_.

[2021-12-09 02:14] #9 closed

[2021-12-09 05:17] pedrohbraga opened #11 "Add a few screenshots to the instructions on how to make pull requests from forks"
Currently, [USAGE.md](https://github.com/SORTEE-Github-Hackathon/manuscript/blob/main/USAGE.md) contains an explanation on how to make pull requests from cloned repositories.

A similar explanation on how to fetch upstream and how to submit pull requests from forked repositories should be added, as some may prefer to work using this method over cloning.

[2021-12-23 19:30] robcrystalornelas opened #34 "Template for relevant papers?"
Is it possible for us to set up a template so that every time we create a new discussion thread for `relevant papers`, the boilerplate language for describing the paper (pasted below) is automatically copied over?

---

### Title: Include the manuscript's title

Study Link: Include the https:// link that brings us to the page of the manuscript
Citation: `@doi:replace`

Suggested keywords that help

[2021-12-23 20:40] pedrohbraga commented on #34
Unfortunately, no, @robcrystalornelas.

I had looked for this when setting up the repository and I have found it is not possible.

This is a [feature request](https://github.com/github/feedback/discussions/2838) that exists for Github Discussions. Early this year, they said that the implementation was on their roadmap, so hopefully, it becomes available in the near future.

In the meanwhile, we ma

[2021-12-23 22:56] robcrystalornelas commented on #34
Great, thanks for that link Pedro! I'll for sure keep referring to thread #14 in the meantime--cool to know they are thinking about implementing it next year. 👍🏻

[2022-01-26 20:06] Aariq commented on #34
Yeah, you can make templates for different kinds of issues, but I guess not yet for Discussions.

[2022-01-27 03:49] dylangomes opened #69 "Formatting tables"
I am wondering how we want to make tables for this manuscript written in GitHub. There are probably many options. I typically make tables in Word or with R markdown (e.g. kable, etc.). The HackMD table looks nice, but will that work the same way in our document? Do we want to standardize how we do this?

Thoughts?

[2022-01-27 15:34] Aariq commented on #69
So the way I did it in #43 was with R markdown knit to .md, but then to update it, the .Rmd file needs to be edited, not the .md, and then re-knit.

[2022-01-27 16:30] Aariq opened #72 "Write access needed to merge PRs?"
It looks like maybe I need write access to merge a PR.  I got the impression from our last meeting that I should be able to merge reviewed PRs.

![Screen Shot 2022-01-27 at 11 28 13 AM](https://user-images.githubusercontent.com/25404783/151401328-78382fa6-17a8-4995-acbe-2f478f1ddde7.png)

[2022-01-27 16:30] Aariq commented on #72
@pedrohbraga

[2022-01-27 16:36] Aariq commented on #72
If I could get permission to merge PRs, then I have some time this week to merge the approved PRs and help deal with merge conflicts.

[2022-01-27 18:34] pedrohbraga commented on #72
Hi, @Aariq. Could you please indicate here which is the pull-request # for this issue? Others have been able to merge pull requests after reviews are approved. I need to cross-check to identify the issue here.

[2022-01-27 19:05] pedrohbraga commented on #72
I believe I have tracked the issue @Aariq. In your image, it is showing that there is one pending reviewer that has not approved the changes.

If a specific contributor is invited to review a pull request, then it becomes a requirement for that specific reviewer to approve the changes for the pull request to be merged.

It might be the case that the reviewer that is pending there is not you, so th

[2022-01-27 20:04] Aariq commented on #72
Ahh, ok.  That makes sense. So if someone makes  PR and requests review from @A and @B, but gets approved by @B and @C, they would need to unassign @A before it could be merged (or get @A to approve).

[2022-01-27 20:15] Aariq commented on #72
Actually that's not it.  I don't have access to merge this PR, for example: https://github.com/SORTEE-Github-Hackathon/manuscript/pull/52

[2022-01-27 20:28] Aariq commented on #72
I think I just need to be given write access to the repo, unless I'm not supposed to have it?

[2022-01-27 21:00] pedrohbraga commented on #72
This is right!

#52 cannot be merged because there is a conflict that must be manually resolved by a reviewer or the author of the pull request. You should be able to merge it when the PR is resolved.

![image](https://user-images.githubusercontent.com/8599229/151440163-4a80b944-5f8b-4651-8cd4-5093359ef032.png)

Everyone has the same read-write access to the repository. However, I set a protection

[2022-01-27 22:05] Aariq commented on #72
This is what #52 looks like for me:
![Screen Shot 2022-01-27 at 5 04 27 PM](https://user-images.githubusercontent.com/25404783/151451419-e5de9d29-e5bf-4874-94c5-b3a4d5b8ac18.png)
As you can see, I have no option to merge or resolve conflicts.

[2022-01-27 22:08] robcrystalornelas commented on #72
Gotcha, OK thanks for the additional details @Aariq and @pedrohbraga.  Maybe because it was my PR that I submitted, I have the option to resolve conflicts we see below:

![image](https://user-images.githubusercontent.com/15171529/151451789-37255387-856a-49f7-a585-2d458dbe841a.png)

[2022-01-27 22:10] Aariq commented on #72
Yeah, I definitely don't have write access.  There's no "edit" icon on the README
![Screen Shot 2022-01-27 at 5 09 45 PM](https://user-images.githubusercontent.com/25404783/151452062-ccaae251-d8ab-4c2c-b900-885976c0210e.png)

[2022-01-31 18:58] katherinehebert commented on #72
Not sure why this may have happened, but I noticed there was a little warning on @Aariq's access because he had Read access on the repository, but was also a member of the manuscript-contributors team (which gives everyone write access).

![272620394_450634286542995_7127376505258492521_n](https://user-images.githubusercontent.com/27461233/151855008-4a9e026a-d3a6-44de-a038-6764bc6413bf.png)

Very o

[2022-01-31 18:58] pedrohbraga commented on #72
Hi. I have been able to reproduce the same problem with my partner's account, which I briefly added to the repository. It is not clear to me why certain members of the repository can merge pull requests, while others cannot, with read-write permissions being the same across everyone.

I resolved the problem by creating the "Manuscript Contributors" team, which explicitly adds write access to all m

[2022-01-31 18:58] #72 closed

[2022-01-31 18:59] Aariq commented on #72
Cool, looks like I can fix merge conflicts and merge PRs now

[2022-01-31 18:59] pedrohbraga commented on #72
@katherinehebert we were writing our messages at the same time, haha

All should be good now! Do not hesitate to write here and reopen the issue if there is still an issue!

[2022-01-31 19:01] robcrystalornelas commented on #72
Thanks so much for working on this Pedro, Katherine, and Eric!

On Mon, Jan 31, 2022 at 10:58 AM Pedro Henrique Pereira Braga <
***@***.***> wrote:

--
Rob Crystal-Ornelas, PhD
Postdoctoral Scholar
Lawrence Berkeley National Lab | ESS-DIVE
Pronouns: he/him/his

[2022-01-31 19:15] Aguncan commented on #72
@emmajhudgins thanks you are so fast :). I will try next

[2022-01-31 19:16] pedrohbraga commented on #69
I will look into this later this week. There should be a way to make this work.

If there is no way, a potential solution would be to use the [`gt`](https://gt.rstudio.com/) R package, which allows the creation of nice, publication-quality tables (_e.g._ this [one](https://www.liamdbailey.com/post/making-beautiful-tables-with-gt/)). This package allows a lot of freedom in the customization of the

[2022-01-31 19:38] Aariq commented on #69
Can `gt` output as Word or latex though?  We probably can't submit a .md or .html doc to most journals.

[2022-01-31 20:05] pedrohbraga commented on #69
`gt` outputs tables as HTML, PDF, PNG, LaTeX, and RTF files, as well as Shiny.

![image](https://user-images.githubusercontent.com/8599229/151863755-85f409cb-f9e1-48d9-a378-04a36b15eade.png)

Manubot uses Pandoc to convert manuscripts from Markdown to HTML, LaTeX, PDF, and DOCX outputs. So far, I believe that we have no major limitations related to the output format here.

A potential integration

[2022-02-22 14:50] Aariq commented on #69
I'm going to take a crack at a .R script for us to put all the (R) figure and table generation code in.  I think then I can just add a line to the manubot github action to run that script before building the manuscript.

[2022-03-02 19:31] #69 closed

[2022-03-11 19:39] kaitlyngaynor opened #132 "Formatting of contributor roles table"
The contributor roles table is looking great! I think that one way to make it more clear, and to integrate the roles and the features + descriptions, would be to indicate which features will be used by which actors/roles. Not sure exactly what this looks like, but maybe in the style of a feature comparison table where each row is the 'user' and the column is the GitHub 'feature'? not sure how the

[2022-03-11 19:55] Aariq commented on #132
Hmm, yeah, I think I like it.  So the contributor roles would be rows, github features would be columns (or vice versa), and the cells would contain either simple check marks or potentially shorter descriptions of how the feature would be used.  Like for the intersection of "Reviewer" and "Issues" it could say "suggest changes to code and code artifacts" and for "Co-Author" and "GitHub Pages" it c

[2022-03-11 20:00] kaitlyngaynor commented on #132
Yeah exactly! I think the descriptions of collaborator roles could actually be the second column instead of the caption: first column role name, second column role description, third+ would be GitHub features. If we can get the descriptions concise, then I think it could make sense to put them in the cells instead of just check marks! concise is key.

[2022-03-11 20:02] Aariq commented on #132
Ok, I can take a first crack at making the descriptors more concise (and probably move some info to Box 1 in the process) and draft the new format.  I'll make a PR and we can discuss further there.

[2022-03-27 13:40] AmalTheaProtocol commented on #72
help sir.. i am having the same issues.. i cant merge also. solana-labs token list.. i need help as soon as possible..

[2022-03-27 14:18] emmajhudgins commented on #72
@pedrohbraga @robcrystalornelas FYI I blocked the user above because this seemed off topic / spam, especially given their profile info.

[2022-04-01 14:38] Aariq opened #141 "Incorrect format for DOI citations"
There are a number of broken citations.  For example, `@doi.org/10.1371/journal.pbio.3000763` which should actually be `@doi:10.1371/journal.pbio.3000763`.  Can fix with a simple find and replace when doing the big revisions.

[2022-04-08 23:28] robcrystalornelas opened #143 "Need to add new term to Box 1"
@Aariq I noticed that GitHub use case section 1 makes reference to 'release' being a term defined in Box 1.  It isn't there yet, but I agree with @emmajhudgins and @dylangomes that it'll be a good term to define. Just want to flag this for one of us to work on.

[2022-04-09 17:11] Aariq opened #145 "Mention Quarto in section on manuscript writing"
In general I don't feel we should get too much into the weeds mentioning specific tools outside of GitHub, but I do think [Quarto](https://quarto.org/) may be worth mentioning as a promising new technology.  Quarto is the even more language agnostic successor to R Markdown.  It moves the rendering of documents (via pandoc) to a command line tool so users of R, Python, Julia, etc. can all edit and

[2022-04-09 17:45] Aariq commented on #143
It's in PR #138

[2022-04-12 18:10] Aariq opened #147 "Format Box 1 as 1-column table"
Can't remember where I saw this suggestion. But it's good

[2022-04-12 18:16] Aariq opened #148 "Remove top-level headings for use case sections"
E.g. `## GitHub in EcoEvo examples (Part 1)` should be changed to `## GitHub in EcoEvo examples` and `## GitHub in EcoEvo examples (Part 1)` should be removed.

[2022-04-12 18:18] Aariq commented on #145
Blog post about it: https://www.apreshill.com/blog/2022-04-we-dont-talk-about-quarto/

[2022-04-12 18:23] #132 closed

[2022-04-12 18:30] Aariq opened #149 "Figure out if hypothes.is comments can get "reset" for our manuscript"

[2022-04-12 18:42] #143 closed

[2022-04-12 18:52] Aariq opened #151 "Archive code with DOI"
After revisions, remember to set up Zenodo integration and make a release before submission.  Include Zenodo DOI in data availability statement.

[2022-04-12 20:59] Aariq commented on #149
https://github.com/SORTEE-Github-Hackathon/manuscript/discussions/150#discussioncomment-2554956

[2022-04-12 22:55] robcrystalornelas opened #154 "Style for referencing terms in box 1 within text"
How do we want to consistently format the key terms we define in box 1 when used throughout the manuscript (if at all?) Do we want to bold, use quotes, italics? Just might be helpful to highlight when these terms are used.

[2022-04-12 22:56] robcrystalornelas commented on #151
Thanks for this @Aariq. Depending on how funding works out for paper, we will likely have to store/link the dataset in ESS-DIVE instead or in addition to Zenodo.

[2022-04-13 20:47] Aariq commented on #154
I like bold, but not sure what the journal will want.

[2022-04-13 20:48] Aariq opened #159 "Integrate figures and tables"
6. Put all figures/tables into manuscript in the new section. (Eric)

_Originally posted by @robcrystalornelas in https://github.com/SORTEE-Github-Hackathon/manuscript/discussions/150_

[2022-04-13 20:51] Aariq commented on #159
Things to do:
- [ ] Figure caption for GitHub interface figure
- [ ] Figure caption for cognitive load figure
- [ ] Change name of figures to something descriptive for easy cross referencing
- [ ] Add all figures and tables to the figures and tables sections
- [ ] Move data to its own folder
- [ ] Add instructions to README for reproducing figures (in lieu of fiddling with GitHub actions to run co

[2022-04-13 20:51] robcrystalornelas commented on #154
Just checked. Seems like Nature EcoEvo like **bold** for the terms when they first appear in box. No bolding when they are mentioned elsewhere.

[2022-04-13 21:28] Aariq opened #160 "Tidy up scatterblob.Rmd for supplemental material"
The methods that went into making the scatterblob plot are really interesting and rather than trying to squeeze it all into a figure caption, it might be better to just edit what's already in the .Rmd file to include the notes from the Google spreadsheet and knit it to Markdown or Word to be included as a supplement to the manuscript.

[2022-04-15 14:42] #159 closed

[2022-04-15 15:18] Aariq commented on #149
The solution was to make a private group to add a new "layer" of annotations: https://github.com/SORTEE-Github-Hackathon/manuscript/discussions/150#discussioncomment-2574778

[2022-04-15 15:18] #149 closed

[2022-04-15 17:27] robcrystalornelas opened #162 "Additional table to add to manuscript"
Hey @Aariq, we do have one more table led by @dylangomes that I forgot to mention. At this point, since it does have some meaningful colors embedded into the table, might just be easiest to insert it as an image, then we can offer feedback via hypothesis. Let me know what you think: https://docs.google.com/presentation/d/1FjRXww7ONYdKvlH3AMW1r2c8CQ0s4PhKaAV4z-BsxPk/edit?usp=sharing

[2022-04-15 17:46] Aariq commented on #162
Ah thanks.  I forgot about this one.  Does the data for the table exist somewhere other than this image?  The thing about tables as images is you can't trick Manubot/Pandoc into getting the cross references right.  It seems to treat any image as a figure and I couldn't figure out how to trick it into treating an image as a table.  Might not be a big deal to just do the cross references manually th

[2022-04-15 21:02] robcrystalornelas commented on #162
That's a good question. I think this is the main place that we've all been contributing to the table. I suppose it could be transferred easily to a google sheet instead of a google slide. Not sure if that helps?

[2022-04-18 20:53] #162 closed

[2022-04-19 14:51] Aariq opened #169 "Figure out how to cross-reference arbitrary sections"
In order to reference Box 1 (definitions of GitHub terms) and Box 2 (tips on getting started) we could try to figure out how to do that with cross references (`@box:definitions` doesn't seem to point to a H3 with `{#box:definitions}` like I thought it might).  Possibly not worth it as there are only 2 boxes and order is unlikely to change---manual references will work fine.

[2022-04-19 14:52] emmajhudgins commented on #147
I added it in hypothesis, to which @BrandonEdwards replied. I then suggested @BrandonEdwards follow my formatting used for box 2

[2022-04-19 14:53] #145 closed

[2022-04-19 14:56] Aariq commented on #147
Thanks, it looks really good like that.

[2022-04-19 17:02] #141 closed

[2022-04-20 19:09] DrMattG commented on #151
Is it okay for me to mark your comment (in relation to this) in the manuscript as resolved @Aariq?

[2022-04-20 20:47] Aariq commented on #151
Sure

[2022-04-21 11:38] DrMattG opened #173 "cover letter submission - a couple of comments"
@robcrystalornelas @pedrohbraga - I am not sure if this is the best place for discussing the cover letter - but I have some thoughts...(some of which are pedantic and none of which are "hills I will die on")

[This line](https://github.com/SORTEE-Github-Hackathon/manuscript/blob/8c6c9aa0e662161c4b8070d081d57ca7d5b6e97e/editorial-communication/cover-letter-submission.Rmd#L19) seems a little orphane

[2022-04-21 16:48] robcrystalornelas commented on #173
@DrMattG All really good points, and thanks for all the links so we know exactly what parts of the letter you are talking about.

I'll work on a PR today with the items that can be added/modified directly in the cover letter. (e.g., I agree we should just change language to always reference EEB since it appears throughout the manuscript).

I think pre-printing is a great idea.  I'll open up a disc

[2022-04-21 19:55] emmajhudgins commented on #147
now resolved in #177

[2022-04-21 19:55] #147 closed

[2022-04-21 20:23] #173 closed

[2022-04-25 13:42] Aariq commented on #151
I think we should keep the issue open until it is resolved here on GitHub though.  We do still need to remember to archive data and code, preferably before pre-print or submission.  A DOI for the repo will be useful to reference in the paper itself (e.g. when we discuss collaborative manuscript writing) as well as in a data availability statement.

[2022-05-10 21:04] Aariq opened #189 "What to do about URLs"
I've noticed that the Manubot-generated citations for URLs don't look particularly good. Exhibit 1:
![Screen Shot 2022-05-10 at 5 02 06 PM](https://user-images.githubusercontent.com/25404783/167721219-c7f5bc08-186b-4071-ac93-7c81ee3eb28e.png)

We have a lot of URLs in our manuscript, even after going through and trying to track down proper citations. I wonder if URLs might be better formatted as f

[2022-05-12 13:31] Aariq commented on #169
I think this pattern should work:

[code]

[2022-05-12 18:23] robcrystalornelas commented on #169
@Aariq Just want to confirm, based on this link: https://sortee-github-hackathon.github.io/manuscript/v/latest/index.html#box:box-1-definitions

Would the correct way to link to box be ([Box 1](#box:box-1-definitions))

[2022-05-12 18:43] Aariq commented on #169
If you want the rendered text to look like "Issues can be used to divide up tasks ([Box1]( https://sortee-github-hackathon.github.io/manuscript/v/latest/index.html#box:box-1-definitions))."  Then the markdown you'd write is:

[code]

But I'd suggest editing the id of Box 1 to just be `{#definitions}` to make it easier to reference.

[2022-05-13 08:36] DrMattG commented on #189
NEE instructions to authors says:

URLs for web sites should be cited parenthetically in the main text, not in the reference list.

https://www.nature.com/natecolevol/submission-guidelines/aip-and-formatting

[2022-05-13 16:32] robcrystalornelas commented on #189
Thanks for looking this up Matt and for the suggestions on how to handle
the longer links Eric.

I’ll take a read through today and try to clean up any links I can since
I’d like this resolved before we send to full group.

Thanks you two!

Rob

On Fri, May 13, 2022 at 7:20 AM Eric R Scott ***@***.***>
wrote:

--
Rob Crystal-Ornelas, PhD
Postdoctoral Scholar
Lawrence Berkeley National Lab | ESS-DI

[2022-05-18 05:30] pedrohbraga opened #198 "Figure 2 has a few artifacts and could be improved for resolution and colour contrast with the background"
Hi,

Figure 2 looks very awesome (!!!). However, I have found a few issues with it, which I list below:

1. When contrasted with darker colours, it shows x-axis and y-axis tick numbers (ranging from 0 to 5 and 0 to 15, respectively) in white colour (see below);
2. When contrasted with darker colours, the extreme categories or labels (the muted red at the top and the purple and blue at the bottom)

[2022-05-18 05:37] pedrohbraga commented on #198
I have forgotten to add screenshots of the figures with different backgrounds. Here are the examples as they appear to me:

1. Directly from Manubot:
![image](https://user-images.githubusercontent.com/8599229/168964615-54c00e8d-bab9-4a6e-9161-0ce674e71829.png)

2. When opened in a new tab:
![image](https://user-images.githubusercontent.com/8599229/168964711-79a37a71-8b58-433b-90ce-fe8f0a6bd22c.png

[2022-05-18 19:05] robcrystalornelas commented on #198
Thanks for the comments @pedrohbraga. I'm going to add @LunaSare here for when we make the next round of edits. Also this issue is linked to another issue by @Aariq in issue #160

[2022-05-18 21:56] LunaSare commented on #198
Thanks for tagging me @robcrystalornelas. These are good comments @pedrohbraga!

I can work on it and have it updated soon, probably by Friday!

[2022-05-18 21:59] robcrystalornelas commented on #198
Thanks @LunaSare one more thing to note. In this last round of edits we removed the "miscellaneous"section about different ways to use GitHub. So it will likely be best if the number of blobs aligns with the total number of ways to use GitHub.

[2022-05-20 19:53] Aariq opened #199 "Author contributions statment using CRediT"
The latest email about author order reminded me that it might be a good idea to include an author contributions statement in the manuscript.  Making this statement could also help us feel more confident about author order.

The Contributor Roles Taxonomy is one possible guide for structuring such a statement:
https://credit.niso.org/

[2022-05-20 19:54] Aariq commented on #189
Seems like this is mostly fixed by #197, so I'll close for now.  We can keep an eye out for any stragglers in the next round of revisions.

[2022-05-20 22:16] robcrystalornelas commented on #199
I figured the discussion section might be a good place to start drafting the statement. What do you think about #200

[2022-05-25 20:21] robcrystalornelas opened #201 "Co-author approval before submitting manuscript"
Please add a check mark next to your name if you approve of us submitting our manuscript as a preprint to biorxiv and to _Nature Ecology and Evolution_

- [x] Saeed
- [x] Dylan
- [x] Luna
- [x] Rob
- [x] Emma
- [x] Katherine
- [x] Pedro
- [x] Kaitlyn
- [x] Vivienne
- [x] Cole
- [x] Ali
- [x] Freddy
- [x] Matt
- [x] Allison
- [x] Brandon
- [x] Eric
- [x] Helen

[2022-05-31 10:29] DrMattG opened #207 "Box 1 - order"
@kaitlyngaynor makes a great comment about the order of terms in Box1. "...it may be easier to read if it's organized conceptually. For example, start with repository, then commit, then push/pull, then pull request, then merge, etc."

As the terms refer to each other I struggled to find a sensible order (but perhaps I am over-thinking it). What does everyone think about re-ordering the Box - and a

[2022-05-31 14:14] Aariq opened #208 "GitLab"
Just realized we have not mentioned GitLab, but I think it might be worth a phrase or a sentence in the intro.  The major difference (I think) is that GitLab can be self-hosted (https://about.gitlab.com/install/).  That means you could run it on a University or lab server, for example.  I get the sense (from asking the US-RSE Slack) that some academics/govt labs prefer it because they have more co

[2022-05-31 14:15] Aariq commented on #208
Oh, nevermind, I do see that it is mentioned in  "Why aren't more EEB researchers using GitHub?" parenthetically.  Perhaps that is enough.

[2022-05-31 16:04] #169 closed

[2022-06-01 06:25] LunaSare commented on #198
Addressing Pedro's and Rob's comments!

- [ ] Force background to white on all figures

- [ ] Try color schemes from `wesanderson` package, and
- [ ] other color schemes from virids

- [ ] Increase resolution

- [ ] Fix

- [ ] Homogenize to EEB community for community and user-commuity to the public (?) Might use some input from @robcrystalornelas and maybe @kaitlyngaynor and @emmajhudgins here

-

[2022-06-01 19:32] robcrystalornelas commented on #189
Hey all, I'm re-opening issue since there were some important concerns raised in the full group hypothesis edits.  I'll loop in @Aguncan @dylangomes @Aariq and @emmajhudgins based on their comments and @pedrohbraga for some technical advise. Essentially we have a couple of use cases that we need to sort through.

1) We have many links to websites throughout our manuscript.  Should these be left as

[2022-06-01 20:47] robcrystalornelas opened #215 "Change mention of "software" to "code""
@Aariq mention in hypothesis that we might, in the intro of our paper include a statement like: "software packages or data analysis code (hereafter, code)". This way we only need to refer to 'code' throughout the rest of the paper.

I agree with this change, and have created this issue since we'll need a PR to make this change throughout the manuscript

[2022-06-01 21:00] robcrystalornelas opened #216 "Convert "repo" to "repositories" in manuscript"
@fhillemann brought up question of whether we want to use "repo" in manuscript, or just "repository" throughout. What do you all think? If so, we'll use this issue since a PR will need to address each file of the manuscript.

[2022-06-02 08:26] DrMattG commented on #216
I think "repos" is okay as long as we say something first like "repositories (often referred to as repos)..."

[2022-06-02 08:27] DrMattG commented on #215
Makes sense to me

[2022-06-02 08:31] DrMattG commented on #189
I'm not sure about 1 to be honest.

With regard to 2 I think the idea of cloning the repos is a really good one

[2022-06-02 08:35] Aguncan commented on #189
Also we may add a small footnote in the manuscript our concerns and why we clone all cited repos.

[2022-06-02 16:26] emmajhudgins commented on #189
I'm totally fine to keep URLs in-text givne the discussion above! I just missed this issue before my hypothesis edits.

[2022-06-02 16:27] emmajhudgins commented on #216
i can see using repo to get the reader comfortable with github lingo, but also note it doesnt shorten our word count and repository is more clear

[2022-06-02 16:34] emmajhudgins commented on #198
awesome work Luna! I agree with other that viridis turbo looks best!

[2022-06-02 17:04] kaitlyngaynor commented on #198
All great! minor comment as I look at this anew, would "Degree of collaboration" rather than "Degree of collaborativeness" be better? I'm not sure collaborativeness is a real word hah

[2022-06-02 18:08] robcrystalornelas commented on #198
Agreed Kaitlyn, we were discussing this in the comments on Pull Request #212, I think Luna will change this wording.

[2022-06-02 22:21] robcrystalornelas commented on #189
OK Great! Thanks for that note from NEE as well @emmajhudgins.

So now we can just work on forking a few of repos that we want to link to throughout the manuscript.

[2022-06-03 14:51] robcrystalornelas commented on #189
So create a "reviewer comment" label in our repo, and just link to that? I think that's a good solution.

[2022-06-03 17:21] Aariq commented on #216
I thought I got them all.  I did a find and replace on the whole repo.

[2022-06-03 17:51] robcrystalornelas commented on #216
I thought I saw one last repo in a table. I'll double check and will submit a PR if I find it.

[2022-06-03 18:00] robcrystalornelas commented on #216
There were another couple of "repo" in the tables. Fixed in #218

[2022-06-06 08:50] Aguncan opened #220 "double author name"
Hi @robcrystalornelas There are two Friederike Hillemann in author list. Can you update the author list? I can do it, but I do not know which one will be removed.

[2022-06-06 12:51] Aariq commented on #189
Yeah, looks like someone already did this: https://github.com/SORTEE-Github-Hackathon/manuscript/labels/Reviewer%20Comment

[2022-06-06 22:37] robcrystalornelas commented on #208
Yes, I think that's enough in terms of going into GitLab.

[2022-06-06 22:37] #208 closed

[2022-06-07 06:30] #216 closed

[2022-06-07 19:58] fhillemann commented on #215
agreed, makes sense. I've changed this to "code" in the discussion.

[2022-06-08 21:43] #154 closed

[2022-06-09 07:19] DrMattG commented on #220
I am still seeing the double author on the rendered html (https://sortee-github-hackathon.github.io/manuscript/v/latest/index.html). Is this just slow rendering or is there a bug here?

[2022-06-09 07:32] #215 closed

[2022-06-09 07:43] DrMattG commented on #220
Slow rendering!

[2022-06-09 07:45] DrMattG commented on #189
That was me - sorry! You suggested I do it when we talked about this a while back and I just did it and forgot to tell anyone...

[2022-06-09 18:53] robcrystalornelas opened #229 "Clarifying definitions in Box 1"
From @kaitlyngaynor and @fhillemann

for **Branch**
I think we need to zoom out even further. What is a branch, in simplest terms? Define this clearly before getting into development branches.

I agree; maybe just add one first sentence, saying something along those lines: Git workflow timelines or repositories are analogous to trees, with a main working project and diverging branches that are poi

[2022-06-09 18:55] robcrystalornelas opened #230 "Update needed to figure 1"
The thin dotted lines going from panels back to original are too small. I can barely see where they are going and I've got good eyes. I would either make them more noticeable, or remove completely.

Should the letter "B)" be located down at the bottom left corner of the plot? I am not understanding what it is supposed to be referencing. I would think it would be near the panel at the top that list

[2022-06-09 18:57] robcrystalornelas opened #231 "Update to box 2"
given that we used a few examples in the other tips, and that the course is popular among EBB folks, can I suggest citing Richard McElreath's Statistical Rethinking repo here; https://github.com/rmcelreath/stat_rethinking_2022

Add to end of point 8

[2022-06-09 19:26] #231 closed

[2022-06-09 20:25] #229 closed

[2022-06-13 00:41] colebrookson commented on #230
These are great comments, thanks Rob! Fixed!
![fig-1-edited](https://user-images.githubusercontent.com/43683737/173260633-d2d5b60f-92c3-4a5d-9f05-cb9906090c00.png)

[2022-06-13 15:19] #230 closed

[2022-06-13 15:19] #198 closed

[2022-06-13 15:36] robcrystalornelas opened #235 "GitHub icon broken on manuscript page"
Small issue @pedrohbraga but looks like the github icon isn't loading in our authors list:

![image](https://user-images.githubusercontent.com/15171529/173391094-6e6d5ee6-374a-4a95-98a5-180e42c9f439.png)

[2022-06-13 15:38] robcrystalornelas opened #236 "Updating figure 1 legend"
Looks like the figure 1 legend needs to be updated to account for the changes to figure. E.g., there is no section D now

I'm happy to try and work on this or if you have a chance, go for it @colebrookson

[2022-06-13 16:19] DrMattG commented on #235
It was removed by this PR https://github.com/SORTEE-Github-Hackathon/manuscript/commit/a98fb6a67e53a1f0e5b1e8eacf901515fad3e8cc - if that helps

[2022-06-13 16:57] colebrookson commented on #236
Whoops, my bad, on it!!

[2022-06-13 16:59] colebrookson commented on #236
@robcrystalornelas can you remind me where in the repo we're keeping the figure captions?

[2022-06-13 17:55] robcrystalornelas commented on #236
@colebrookson it's in this file. https://github.com/SORTEE-Github-Hackathon/manuscript/blob/main/content/09.figures-tables.md

You'll need to go into edit the markdown file to actually see the caption though since the caption doesn't render in the github UI

[2022-06-13 18:08] colebrookson commented on #236
Ahhh got it. I didn't realize it didn't render in the UI, thank you! Done!

[2022-06-13 18:08] #236 closed

[2022-06-13 18:50] #235 closed

[2022-06-28 15:55] #199 closed

[2022-06-28 15:59] robcrystalornelas commented on #189
Thanks for the discussion on this everyone!  I'm closing this now since through various recent edits and PRs we converted all example links from external repos into example links from our own repo.

[2022-06-28 15:59] #189 closed

[2022-07-11 21:30] robcrystalornelas opened #250 "Update cover letter with preprint server name and DOI"
One the manuscript has been pre-printed, update cover-letter-submission.Rmd with citation, views and download count.

[2022-07-11 22:56] robcrystalornelas opened #252 "Updating table order"
Hi @Aariq, hoping you might be able to help with re-ordering tables.

Essentially, we need the manuscript updated so that:

**Table 1** is the comparison table
**Table 2** is the Roles table

in PR #251 I managed to make sure the actual text in the manuscript is corrected so that Table 1 is comparison table and table 2 is the roles table. I think their links will work as well.

_However,_ even onc

[2022-07-12 08:46] fhillemann opened #253 "small changes to abstract"
I suggest the following small changes to the first couple of sentences of the abstract, to highlight that we’re not only talking about code in the MS. It becomes more obvious later in both the abstract and the paper anyway, but I felt the first two sentences were too focused and code only.

revised:
Researchers in ecology and evolutionary biology are increasingly dependent on computational code to

[2022-07-12 13:09] Aariq commented on #252
Sorry I missed this.  Did the table refs end up working or is this still open?

[2022-07-12 15:15] robcrystalornelas commented on #252
No worries @Aariq I could still use help with this. My last PR didn't quite resolve the issue.

Any chance you are able to work on this?  In addition to swapping the actual order of table 1 and table 2, could you also double check that the links are going to the right place in the manuscript? I can double check that as well.

[2022-07-12 17:21] #253 closed

[2022-07-12 18:01] Aariq commented on #252
I can take a look later this week I think

[2022-07-13 16:16] robcrystalornelas commented on #252
I was able to fix table order so will close this issue

[2022-07-13 16:16] #252 closed

[2022-07-14 22:04] #250 closed

[2022-07-21 19:58] pedrohbraga opened #260 "Concern: Perception of insufficient contextualized usage of GitHub specific to researchers in ecology and evolution"
Hi, everyone

I hope you are all well!

I have a few concerns and comments related to our manuscript that I would like to raise as issues, so that we can discuss them and, if necessary, address them prior to the submission of our manuscript for consideration for publication in a peer-reviewed journal.

**Concern**

In this issue, I would like to comment on the apparent lack of domain-specific cont

[2022-07-21 20:27] pedrohbraga opened #261 "Concern: Missing application of automated workflows in GitHub for research in ecology and evolution"
Hi, again!

In this issue, I would like to comment on the absence of the application of automated workflows in the use cases of our manuscript.

**Concern**

Although we had a section dedicated to this in the hackathon and although we use GitHub Actions to automate the production of our manuscript, we have not discussed automated workflows as a use case.

The usage of automated workflows within Gi

[2022-07-21 21:03] pedrohbraga opened #262 "Minor Concerns: Citations needed across the Discussion and Text length must be shortened"
Hi. Below, I list a few minor and specific concerns in relation to the manuscript:

- [ ] 1.  **Certain sentences from the Discussion seem to need some citations to support them.** Examples are "First, there may be hesitation to independently adopting and learning a new tool. Institutional encouragement and instructional resources focused on researchers in ecology and evolution may be limited." an

[2022-07-21 21:52] dylangomes commented on #260
I am wondering if the easier solution is to broaden the scope of the title and journal submission? Keeping the article broader will probably have a larger impact as well. Thoughts?

[2022-07-21 21:56] dylangomes commented on #262
RE #2, are you sure that this is a strict guideline? In my experience journals almost never care about a few hundred words over during the submission stage and also don't seem to mind during the publication stage either (although sometimes they have page charges). My suggestion would be to not worry about 600 words over the limit (unless the guidelines sound very strict around this).

[2022-07-21 22:10] robcrystalornelas commented on #262
I agree with you @dylangomes, fixing the word count is very low priority to me.  Whenever this goes out to review we'll inevitably get comments that modify word length. This will get figured out in later versions of the MS.

[2022-07-21 22:15] robcrystalornelas commented on #260
@dylangomes That could work, you are thinking we try for a different/more general journal?

[2022-07-21 22:37] dylangomes commented on #260
It's just an idea that I am certainly not wedded to, but it seems to have several advantages 1) not needing to rework the manuscript to include specific E&E examples, 2) being useful to folks across disciplines by keeping it general, and 3) saving the trimming work to get the word count down.
PLoS One is a possible general outlet (example: https://journals.plos.org/plosone/article?id=10.1371/journ

[2022-07-21 22:43] robcrystalornelas commented on #260
Makes sense to me! Thanks for elaborating on that. What do you think @pedrohbraga?

[2022-07-22 00:34] dylangomes commented on #260
I am sure there are lots of other general outlets, I just included one that immediately came to mind. Happy with whatever y'all decide 👍

[2022-07-22 07:11] DrMattG commented on #262
On #2, I agree with @dylangomes & @robcrystalornelas.
On #3, as GitHub organisations is not a "product" (or service) I would say that it should be written "GitHub organisations" throughout (as opposed to say "GitHub Actions").
On #1, (sorry for the weird ordering!) I suspect we might struggle to find references that actually reflect these sentiments and we do not want to be "forced" (not the right

[2022-07-22 07:51] DrMattG commented on #261
I agree GitHub Actions is important to mention, but we have the constraint of the word limit. Is there a way of adding a more detailed appendix on GA without adding too many words to the main manuscript? Is contingious integration a component (some) of the 12 themes?  Could we include an/some example(s) with reference to one or more of the 12 themes

[2022-07-22 07:56] DrMattG commented on #260
My view is that if we can painlessly incorporate examples from Ecology and Evo uses then great - if not then I dont see it as a huge issue - we are talking about the potential for using GitHub for EcoEvo folk.

I would also not be opposed to @dylangomes's suggestion

[2022-07-22 15:00] robcrystalornelas opened #263 "GitHub Learning Lab is shutting down update box 2 link to GitHub Skills page"
Just saw message that https://lab.github.com/ is shutting down in the fall. We mention this as resource in Box 2, so should update this to another action-enabled way of learning GitHub skills:

https://skills.github.com/

[2022-07-22 17:16] colebrookson commented on #260
I agree that @dylangomes 's suggestion is a good one worth considering and would definitely be the least work. However, my concern would be that I think other fields of science/biology are a bit further down the version-control usage pipeline than EEB (not always but definitely sometimes), so I worry the content we provide here, which I perceive to be more of trying to convince EEB-ers to use this

[2022-07-22 19:15] pedrohbraga commented on #260
I understand the recommendation to broaden our scope and readership toward non-EEB scientists. However, I feel that this departs from our initial aim to provide a practical guide for EEB researchers and that it could put our use cases and our perspectives a bit more disjoint with the usage of GitHub in other fields. I feel that I am more limited in the extent of the recommendations I can make to t

[2022-07-22 19:22] robcrystalornelas commented on #260
Good points everyone! Such good discussion here--I appreciate everyone's input.  I'll give another few days for people to provide additional thoughts.

Right now, I'm leaning toward the following steps:

1. See if anyone **volunteers and/or submits PRs** to add more EEB-specific language and citations to the use cases.
2. Either way, submit to _Nature E&E_ and see what decision they make
3. If we

[2022-07-22 19:30] robcrystalornelas commented on #261
Actions are an important feature for GitHub, but we already mention them in the project continuity section and the manuscript writing section.

Rather than add actions as it's own use case which would be quite technical compared to the rest of our use cases, I propose adding something like "to learn more about GitHub actions in EEB research see [cite, cite]" either in the project continuity or man

[2022-07-22 19:34] robcrystalornelas commented on #262
Hope you are having a good vacation @DrMattG!!

I addressed point 2, but to your point 1 and 3 @pedrohbraga:

1) As Matt said, some of these sentences just don't have existing research to cite. But, we use language like "We **suspect** a major additional". This type of phrasing should indicate to the reader that it's simply our intuition.  I would also wait for reviewers to identify if this is a p

[2022-07-22 19:35] robcrystalornelas commented on #201
Closing as all authors have approved manuscript for submission.

[2022-07-22 19:35] #201 closed

[2022-07-22 20:43] Aariq commented on #261
I think it is important that our readers are made aware of the possibile uses of CI for EEB research, but I agree that we should avoid getting into technical detail.

[2022-07-22 21:35] robcrystalornelas commented on #260
@Aariq I'm going through a bit now and seeing what I can add for EEB-specific citations.  But if either you or @pedrohbraga would like to add in some field-specific use cases and submit a PR, that'd be helpful--thank you!

[2022-07-22 21:36] robcrystalornelas commented on #261
@Aariq How to address this though? Separate section which brings us to 13 ways to use GitHub, or short sentence or two indicating other resources for learning about actions?

[2022-07-22 21:51] pedrohbraga commented on #261
Hi, I do not think that we need to get into technical details. None of our sections appear to be technical. However, continuous integration and continuous deployment are powerful tools and practices that are widely used outside and that have been increasingly adopted within academia.

The practice of making small changes and performing automated, frequent tests (CI) has been shown to decrease the

[2022-07-22 22:04] robcrystalornelas commented on #261
OK @pedrohbraga. You mentioned being willing to draft up a version of this new section, **can you do this next week?**

Remember to ping @LunaSare about updating the figure with this new use case. You may have to advise a bit on the degree of collaboration in our figure below:

![image](https://user-images.githubusercontent.com/15171529/180574458-6adf6f5d-966d-4bb5-b528-5944edc649bc.png)

[2022-07-22 22:11] pedrohbraga commented on #261
Yes, I can work on a pull request by **Tuesday evening** (Eastern Canada). I will be sure to tag some of us to review it.

[2022-07-26 14:02] pedrohbraga commented on #262
Hi, all!

Thanks for the feedback here! I understand that there is not a big issue with the word limit and I also understand your point about citations!

The only one that was not clear to me was the last one. I will clarify what I mentioned earlier:

GitHub Organizations is a feature from GitHub (https://support.github.com/features/organizations), like Actions, Issues, and Discussions.

In all us

[2022-07-26 16:51] dylangomes commented on #262
@pedrohbraga just to clarify, you are suggesting that devoting a section title to a github capability name (e.g. GitHub Organizations) rather than to what it does (e.g. organize groups) doesn't mesh with the other section titles? What you are saying makes sense to me - if I am interpreting you correctly.

Some possibilities might be: organize your working group, organize and manage your team, coll

[2022-07-26 17:21] pedrohbraga commented on #262
Yes! This is what I wanted to express!

I like your suggestions for "Organizing and managing teams" or "Organizing and managing working groups"!

[2022-07-26 22:28] pedrohbraga commented on #261
Thanks everyone for the help! This has been solved in #265! Almost there!

[2022-07-26 22:28] #261 closed

[2022-07-26 22:37] robcrystalornelas commented on #262
I like 'Organizing and managing teams' it's just a bit more concise and still leave it open as to what we mean by teams. I think that could work well!

[2022-07-27 09:51] #263 closed

[2022-07-27 17:18] pedrohbraga commented on #262
Hi! I am closing this issue, as the other two topics were minor and seem to be not essential to continue with the submission. Thank you all once again!

[2022-07-27 17:18] #262 closed

[2022-08-10 16:28] robcrystalornelas opened #270 "Formatting when converting to word"
In this issue, I'm compiling a list of changes I needed to make to word document output from manubot before submitting to Nature E&E.  These could potentially be incorporated into the word doc template that manubot uses.

1. Modifying author list and affiliation so that authors appear together and affiliations below.
2. Superscripts added to all authors and affiliations
3. Asterisk in author list

[2022-10-02 17:51] robcrystalornelas commented on #260
Thanks @katherinehebert 🙌🏻 I'm doing a final read through now and will incorporate this citation.

[2022-10-11 07:17] Aariq commented on #162
I can just turn it into a .csv.

On Fri, Apr 15, 2022 at 5:02 PM Rob Crystal-Ornelas <
***@***.***> wrote:

[2022-10-27 01:07] #260 closed

[2022-10-27 10:47] DrMattG commented on #11
We can probably close this now - all the helpful information is linked to in the README and the paper has been resubmitted

[2022-10-27 10:47] #11 closed

[2022-11-17 16:18] pedrohbraga opened #277 "R1.1: Request to shorten and reduce the repetition and complexity of certain parts"
Reviewer's 1 comment:

Recommendations during the revision:

1. When performing changes addressing this comment, please recall this issue in the pull request; and,
2. Clearly justify changes in the final comment of the pull request (to allow us to revise the manuscript in time).

[2022-11-17 16:20] pedrohbraga opened #278 "R1.2: Request to focus on tailoring the language and use cases to entry-level researchers"
Reviewer's 1 comment:

Recommendations during the revision:

1. When performing changes addressing this comment, please recall this issue (using `#` followed by the number of this issue) in the pull request; and,
2. Clearly justify changes in the final comment of the pull request (to allow us to revise the manuscript in time).

[2022-11-17 16:26] pedrohbraga opened #279 "R1.3: Request to define the attributes of GitHub in terms of investment return on time and effort"
Reviewer's 1 comment:

Recommendations during the revision:

1. When performing changes addressing this comment, please recall this issue (using `#`) in the pull request; and,
2. Clearly justify changes in the final comment of the pull request (to allow us to revise the manuscript in time).

[2022-11-17 16:28] pedrohbraga opened #280 "R1.4: Suggestions on the ordering of importance of use cases"
Reviewer 1's comments:

Recommendations during the revision:

1. When performing changes addressing this comment, please recall this issue (using `#`) in the pull request; and,
2. Clearly justify changes in the final comment of the pull request (to allow us to revise the manuscript in time).

[2022-11-17 16:32] pedrohbraga opened #281 "Minor comments from R1 and R2"
Reviewer 1 comments:

Reviewer 2 comments

Recommendations during the revision:

1. When performing changes addressing this comment, please recall this issue (using `#`) in the pull request; and,
2. Clearly justify changes in the final comment of the pull request (to allow us to revise the manuscript in time).

[2022-11-17 16:37] pedrohbraga opened #282 "R2.1: Improvements to legibility and abstraction on Figure 1"
Reviewer 2 comments:

Recommendations during the revision:

1. When performing changes addressing this comment, please recall this issue (using `#` followed by the number of this issue) in the pull request; and,
2. Clearly justify changes in the final comment of the pull request (to allow us to revise the manuscript in time).

[2022-11-17 16:40] pedrohbraga opened #283 "R.2.2: Clarify how technical difficulty in Figure 2 was assessed"
Reviewer 2 comments

Recommendations during the revision:

1. When performing changes addressing this comment, please recall this issue (using `#` followed by the number of this issue) in the pull request; and,
2. Clearly justify changes in the final comment of the pull request (to allow us to revise the manuscript in time).

[2022-11-17 16:41] pedrohbraga opened #284 "R2.3: Provide a few sentences on the history of Git"
Reviewer 2 comment

Recommendations during the revision:

1. When performing changes addressing this comment, please recall this issue (using `#` followed by the number of this issue) in the pull request; and,
2. Clearly justify changes in the final comment of the pull request (to allow us to revise the manuscript in time).

[2022-11-17 16:43] pedrohbraga opened #285 "R2.4: Add dependency testing to the automation use case"
Reviewer 2 comment:

Recommendations during the revision:

1. When performing changes addressing this comment, please recall this issue (using `#` followed by the number of this issue) in the pull request; and,
2. Clearly justify changes in the final comment of the pull request (to allow us to revise the manuscript in time).

[2022-11-17 16:45] pedrohbraga opened #286 "R2.5: Replace Figure 1 or add another figure detailing generalized research workflow contextualized with the use cases"
Reviewer 2 comment

Recommendations during the revision:

1. When performing changes addressing this comment, please recall this issue (using `#` followed by the number of this issue) in the pull request; and,
2. Clearly justify changes in the final comment of the pull request (to allow us to revise the manuscript in time).

[2022-11-17 16:50] pedrohbraga opened #287 "E1.1: Suggestion to generalize certain use cases and to simplify the narrative to entry-level users"
Editor's comment:

The reviewer 1's  comment the editor is referring to is R1.1, which can be found in issue #277.

Recommendations during the revision:

1. When performing changes addressing this comment, please recall this issue (using `#` followed by the number of this issue) in the pull request; and,
2. Clearly justify changes in the final comment of the pull request (to allow us to revise the

[2022-11-17 16:55] pedrohbraga opened #288 "E1.2: Emphasize the ability of making repositories private"
Edtior's comment:

Recommendations during the revision:

1. When performing changes addressing this comment, please recall this issue (using `#` followed by the number of this issue) in the pull request; and,
2. Clearly justify changes in the final comment of the pull request (to allow us to revise the manuscript in time).

[2022-11-17 16:56] pedrohbraga opened #289 "E1.3: Discuss that even single-purpose scripts need to be well-documented"
Editor's comment:

Recommendations during the revision:

1. When performing changes addressing this comment, please recall this issue (using `#` followed by the number of this issue) in the pull request; and,
2. Clearly justify changes in the final comment of the pull request (to allow us to revise the manuscript in time).

[2022-11-17 16:58] pedrohbraga opened #290 "E1.4: Briefly discuss the integration between Overleaf and GitHub in the text"
Editor's comment:

Recommendations during the revision:

1. When performing changes addressing this comment, please recall this issue (using `#` followed by the number of this issue) in the pull request; and,
2. Clearly justify changes in the final comment of the pull request (to allow us to revise the manuscript in time).

[2022-11-17 17:01] pedrohbraga opened #291 "E1.5: Improve the discussion about the advantages of GitHub over other existing and less technically complicated tools"
Editor's comment

Recommendations during the revision:

1. When performing changes addressing this comment, please recall this issue (using `#` followed by the number of this issue) in the pull request; and,
2. Clearly justify changes in the final comment of the pull request (to allow us to revise the manuscript in time).

[2022-11-20 00:15] kaitlyngaynor commented on #288
Seems like this could be easily done in the "Storing and sharing research compendia" section with a sentence, and maybe there could be another brief caveat in the "Open science discussion" that reminds readers that it doesn't _have_ to be open if they don't want it to be.

[2022-11-20 00:17] kaitlyngaynor commented on #287
Also seems like a key piece of this comment is to mention GitHub Desktop somewhere. I don't use it myself, but maybe somebody who does can make a recommendation about where to integrate it?

[2022-11-21 15:05] Aariq commented on #287
If we haven't mentioned it already (honestly can't remember), we might also mention that RStudio has a GUI for all the most commonly used GitHub commands.

[2022-11-21 15:14] Aariq commented on #277
To do:
- [ ] Thorough read-through to determine if any sections can be merged
- [ ] More cross-referencing among sections to reduce repetition
- [ ] Identify the most "nerdy" use cases
- [ ] Edit "nerdy" sections:
      1) make shorter and less detailed
      2) re-frame in less nerdy terms
      3) re-frame as extensions to other use cases (e.g. once you master xyz, you can do <insert "nerdy" thi

[2022-11-21 15:17] Aariq commented on #279
Related to #277—I suspect the reviewer considers a use case more "nerdy" if the return on investment is not as good for a typical EEB researcher who doesn't know GitHub already

[2022-11-22 17:36] pedrohbraga commented on #290
Hi, @katherinehebert! Thank you for looking into this!

This is a good point!

However, I think that like with MS Office software, many universities and research institutions have partnership programs with Overleaf to allow their members to join it at preferred rates or without paying subscription fees.

Examples of institutions are the [University of Toronto](https://www.overleaf.com/edu/utoronto

[2022-11-22 19:43] Aguncan commented on #290
Actually, we have already mention the integration of GitHub with Overleaf in Table 1. However, we did not go further.